* 
{
	/* Webkit border removal */
	outline: none;
	/* No selecting */
	-webkit-user-select: none;
	user-select: none;
}

body
{
	width: 250px;
	margin: 0px;
}

#search
{
	
}

#search input
{
	width: 240px;
	height: 20px;
	padding: 5px;
	font-size: 17px;
	border: none;
}

#divider
{
	width: 250px;
	height: 1px;
	background-image: url('images/divider.png');
}

#tabs
{
	font-family: 'Arial';
	padding: 5px;
}

#tabs .tab
{
	width: 240px;
	height: 28px;
	border: 1px solid white;
	cursor: pointer;
}

#tabs .tab:hover
{
	background: #F1F8FF;
	border: 1px solid #D9EDFF;
	border-radius: 5px;
}

#tabs .tab .favicon
{
	width: 16px;
	height: 16px;
	overflow: hidden;
	background: black;
	display: inline-block;
	margin-right: 5px
}

#tabs .tab .title
{
	display: inline-block;
	line-height: 26px;
	height: 26px;
	overflow: hidden;
}