* 
{
	/* Webkit border removal */
	outline: none;
}

body
{
	width: 300px;
	margin: 0;
}

.hidden
{
    display: none !important;
}

#searchInput
{
	width: 245px;
	height: 20px;
	padding: 10px 5px;
	font-size: 17px;
	border: none;
	display: inline-block;
	text-indent: 5px;
}

#searchClear
{
	float: right;
	width: 20px;
	height: 20px;
	background-image: url('images/clear.png');
	margin: 10px;
	cursor: pointer;
}

#searchClear:hover
{
	background-image: url('images/clear_hover.png');
}

.divider
{
	width: 300px;
	height: 1px;
	background-image: url('images/divider.png');
}

#help
{
	margin: 5px;
}

#help p, #help ul
{
	margin: 5px 0;
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: gray;
	text-align: center;
}

#help button
{
	display: block;
	width: 100px;
	margin: 5px auto;
}

#tabs
{
	font-family: Arial, sans-serif;
	margin-top: 5px;
    padding: 5px;
	-webkit-user-select: none;
	user-select: none;
}

#tabs .tab
{
	width: 285px;
	height: 28px;
	border: 1px solid white;
	cursor: pointer;
}

.tabSelected
{
	background: #F1F8FF;
	border: 1px solid #cadcee !important;
}

#tabs .tab .favicon
{
	width: 16px;
	height: 16px;
	padding: 6px;
	overflow: hidden;
	display: inline-block;
}

#tabs .tab .favicon img
{
	width: 16px !important;
	height: 16px !important;
}

#tabs .tab .title
{
	display: inline-block;
	line-height: 28px;
	height: 28px;
	width: 245px;
	padding: 0 6px;
	overflow: hidden;
	vertical-align: top;
	font-size: 14px;
}

#noTabs
{
	margin: 20px 5px;
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: gray;
	text-align: center;
}