* 
{
	/* Webkit border removal */
	outline: none;
}

body
{
	font-size: 13px;
    font-family: 'Roboto', sans-serif;
	margin: 0;
}

.hidden
{
    display: none !important;
}

#searchInput
{
	width: calc(100% - 20px - 3rem);
	padding: 1rem 0.5rem;
	font-size: 1.2rem;
	border: none;
	display: inline-block;
	text-indent: 0.5rem;
}

#searchClear
{
	float: right;
	width: 20px;
	height: 20px;
	background-image: url('../images/clear.png');
	margin: 1.25rem 1rem;
	cursor: pointer;
}

#searchClear:hover
{
	background-image: url('../images/clear_hover.png');
}

.divider
{
	height: 1px;
	background-color: #dfdfdf;
    margin: 0 0.5rem;
}

#help
{
    background: #1565C0;
	padding: 1rem 2rem;
    margin: 2rem;
    color: white;
    border-radius: 0.5rem;
}

#help p
{
    text-align: center;
    font-size: 1.2rem;
}

#help ul
{
    padding: 1rem 0.5rem;
}

#help button
{
	display: block;
	background: white;
    border-radius: 0.25rem;
	margin: 0.5rem auto;
    padding: 0.75rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

#help button:hover
{
    background: #e6edff;
}

#tabs
{
	margin-top: 0.25rem;
    padding: 0.5rem;
	-webkit-user-select: none;
	user-select: none;
}

#tabs .tab
{
    padding: 0.25rem;
	cursor: pointer;
}

.tabSelected
{
	background: #e4f1ff;
}

#tabs .tab .favicon
{
	width: 16px;
	height: 16px;
	padding: 0.25rem;
    padding-right: 0.5rem;
	overflow: hidden;
	display: inline-block;
}

#tabs .tab .favicon img
{
	width: 16px !important;
	height: 16px !important;
}

#tabs .tab .title
{
	display: inline-block;
	line-height: 1.1rem;
	height: 1rem;
    padding: 0.3rem 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 1.25rem - 16px);
    font-size: 0.9rem;
}

#noTabs
{
	margin: 2rem 1rem;
	color: #a9a9a9;
	text-align: center;
	padding-bottom: 1rem;
}

#sadFace
{
	font-size: 3rem;
}